@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(28 28 28);
  user-select: none;
}
.grid {
  display: grid;
  grid-template-columns: 25rem auto 25rem;
  position: relative;
  width: 100%;
  /* align-items: center; */
  height: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 8rem auto;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .grid {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 9px;
  background-color: #fff;
  border-radius: 9px;
  padding: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 9px;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
