@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; */
  background-color: rgb(28 28 28);
  user-select: none;
}

.grid {
  display: grid;
  grid-template-columns: 25rem auto 25rem;
  position: relative;
  width: 100%;
  /* align-items: center; */
  height: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 7rem auto 9rem;
    overflow: hidden;
  }
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: 8rem auto;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .grid {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 9px;
  background-color: #fff;
  border-radius: 9px;
  padding: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 9px;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
.chat-grid {
  display: grid;
  grid-template-columns: 25rem 10rem auto;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  flex: 1;
  inset: 1;
}

@media (max-width: 1024px) {
  .chat-grid {
    grid-template-columns: 10rem 6rem auto;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .chat-grid {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
